.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  color: black;
  background: #78efffa2;
  border: 2px solid #a6f3fda2;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  border: 2px solid #d2faffa2;
  background: #61edffa2;
  color: black;
}

.Phonetic .text {
  color: black;
  opacity: 0.5;
  font-weight: bold;
}
